@page "/businessanalystpage"
@using Djibus.Core.Models
@inject AuthenticationStateProvider GetAuthStateAsync

@inject IDbContextFactory<ApplicationDbContext> MyContextFactory

@attribute [Authorize]

<h3 class="alert alert-info">Business Analysts </h3>
<div class="table table-responsive">

    <TelerikGrid Data="@BusinessAnalysts"
                 ConfirmDelete="true"
                 Resizable="true"
                 Reorderable="true"
                 SelectionMode="GridSelectionMode.Multiple"
                 PageSize="10"
                 Navigable="true"
                 Pageable="true"
                 Sortable="true"
                 Groupable="true"
                 OnCreate="CreateBa"
                 OnUpdate="UpdateBa"
                 OnDelete="DeleteBa"
                 EditMode="GridEditMode.Popup"
                 FilterMode="Telerik.Blazor.GridFilterMode.FilterMenu"
                 ShowColumnMenu="true">
        <GridToolBar>
            <GridCommandButton Command="Add" Icon="add">New BA</GridCommandButton>
        </GridToolBar>
        <GridColumns>
            <GridColumn Field="@(nameof(BusinessAnalyst.FullName))" Title="Full Name" />          
            <GridColumn Field="@(nameof(BusinessAnalyst.Email))" Title="Email" />          
            <GridCommandColumn>
                <GridCommandButton Command="Save" Icon="save" ShowInEdit="true"></GridCommandButton>
                <GridCommandButton Command="Edit" Icon="edit"></GridCommandButton>
                <GridCommandButton Command="Delete" Icon="delete"></GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
</div>