@page "/"
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider GetAuthStateAsync
@inject IDbContextFactory<ApplicationDbContext> MyContextFactory

<PageTitle>Accueil</PageTitle>
 <TelerikCard>
        <CardHeader>
            <CardTitle>Welcome to PMO Monitoring Tool (PMT) </CardTitle>
        </CardHeader>
        <CardImage Src="https://www.akuiteo.com/hubfs/editeurs-avantages-club-utilisateur.jpg"></CardImage>
        <CardBody>
            <CardTitle>PMO</CardTitle>
            <CardSubTitle>Blazor et EF Core</CardSubTitle>
            <CardSeparator></CardSeparator>
            <p>
                LorenIpsum
            </p>
        </CardBody>
        <CardActions Layout="@CardActionsLayout.Stretched">
            <TelerikButton Class="k-flat" Icon="heart-outline">Like</TelerikButton>
            <TelerikButton Class="k-flat" Icon="share">Share</TelerikButton>
        </CardActions>
        <CardFooter>
            <span style="float:right">April, 2022</span>
        </CardFooter>
    </TelerikCard>